*{
background-color: black;
font-family: verdana;
padding: 2px;
}

nav {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  width: auto;
  margin-bottom: 20px;
}
ul {
  display: flex;
  width: 100%;
  list-style: none;
  max-height: 20px;
  align-items: center;
}
li a {
  font-size: large;
  color: #283618;
  text-decoration: none;
  padding-left: 30px;
  display: flex;
}
ul.tabs li a {
  display: flex;
  padding-right: 30px;
  color: #283618;
  font-size: large;
}